* {
  font-family:'Times New Roman', Times, serif;
  font-size: 25px;
}

body{
  padding: 70px;
}

input{
  color: grey;
  width: 100%;
  font-size: 1rem;
}

.card-grid{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
}

.card{
  align-content: center;
  border: 1px solid gray;
  border-radius: 6px;
  margin-bottom: 10px;
  margin-right: 10px;
  overflow: hidden;
}

.card p{
  padding: 5px;
  font-size: 15px;
  text-align: left;
}

.card img{
  max-height: 150px;
}